/* default css code are below */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1024px;
  display: block;
  text-align: center;
  margin: 0 auto;
  /* background: #2980b9; */
  height: auto;
}

img {
  max-width: 100%;
}

/* header css */

.header {
  background: #3498db;
  display: block;
}

.header-left {
  float: left;
  width: 30%;
}

.header-left img {
  width: 100px;
  height: auto;
}

.header-right {
  float: right;
  width: 70%;
}

/* ul csss */

.header-right ul {
  text-align: left;
}

.header-right ul li {
  display: inline-block;
  margin-left: -4px;
}

.header-right ul li a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  padding: 20px;
  display: block;
  line-height: 40px;
  border-right: 1px solid wheat;
  transition: 0.5s;
}

.header-right ul li a:hover {
  background: #2c3e50;
}

/* banner section */

.banner {
  background: url(../image/slider.jpg) no-repeat center;
  background-size: cover;
  /* display: block; */
  /* background: rgb(136, 51, 51); */
  /* width: 60px; */
  padding: 150px;
}

.banner-caption {
}
.banner-caption h2 {
  background: #95a5a6;
  color: wheat;
  padding: 5px;
  margin: auto;
  max-width: 300px;
  border-radius: 10px;
  font-size: 40px;
}
.banner-caption h1 {
  background: #2ecc71;
  color: wheat;
  margin-top: 15px;
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
  font-size: 40px;
}

/* services css section */

.services {
  margin-top: 60px;
}

.service-item {
  float: left;
  width: 33.3%;
  border: 1px solid red;
  padding: 10px;
}

.services span {
  background: #32ff7e;
  padding: 10px;
  border-radius: 20px 0px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  color: rgb(244, 248, 252);
  /* font-size: 5px; */
}

/* blog cdd section */

.blog-container {
}

.blog-left-content {
  float: left;
  width: 70%;
}

.blog-left-notification {
  float: right;
  width: 25%;
}

.blog-item {
  margin-bottom: 30px;
}
.blog-item img {
  width: 160px;
  height: auto;
  float: left;
  margin-right: 15px;
}

/* blog- notification css */

.blog-left-notification {
}

.blog-left-notification h2 {
  font-size: 40px;
  border-bottom: 1px solid #2c3e50;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.blog-left-notification ul {
  list-style: none;
}

.blog-left-notification ul li {
  border: 1px solid #95a5a6;
  /* list-style-type: none; */
  border-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 7px;
}

/* footer section */

.footer {
  background: #cd84f1;
  padding: 40px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.social-manu {
  list-style-type: none;
  float: left;
}

.social-manu li {
  display: inline-block;
}

.social-manu li a {
  color: white;
  padding: 10px;
}
