* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: "Work Sans", sans-serif;
}
.container {
  max-width: 1300px;
  width: 1024px;
  margin: 0px auto;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.left {
  float: left;
}

/* .mid-content {
  max-width: 1300px;
  margin: auto;
} */

/* default css is up here */

/* header section */

header {
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.header-logo {
  width: 30%;
}

.header-manu {
  width: 60%;
}

.primary-manu {
}

.header-btn {
  width: 10%;
}

/* header manu css */

.primary-manu ul {
}

.primary-manu ul li {
  display: inline-block;
}

.primary-manu ul li a {
  display: block;
}

.primary-manu ul li a:hover {
}
