* {
  margin: 0px;
  padding: 0px;

  /* display: inline-block; */
  /* margin: 0 auto; */
  /* text-align: center; */
}

.header-manu {
  background: rgb(12, 197, 221);
}

.header-manu ul {
  text-align: center;
}

.header-manu ul li {
  display: inline-block;
  margin-left: -4px;
}

.header-manu ul li a {
  color: rgb(235, 241, 235);
  padding: 20px 40px;
  display: inline-block;
  text-decoration: none;
  border-right: 1px solid white;
  font-size: 20px;
}
.header-manu ul li:first-child a {
  border-left: 1px solid white;
}

.header-manu ul li:hover > a {
  background: rgb(2, 58, 110);
}

/* dropdown start here */
.header-manu ul li {
  position: relative;
}
.header-manu ul li ul {
  position: absolute;
  left: 0;
  top: 100%;
  background: rgb(13, 158, 202);
  width: 300px;
  transition: 0.4s;
}

.header-manu ul li ul li {
  display: block;

  margin: 0px;
  border-top: 1px solid #ddd;
}

.header-manu ul li ul li a {
  display: block;

  border: none;
  border-bottom: 1px solid #ddd;
}

.header-manu ul ul li:first-child a {
  border: none;
}

/* hover part */
.header-manu ul li ul {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top center;
}

.header-manu ul li:hover ul {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

/* .header-manu ul li ul li a:hover {
} */

/* social manu css */

.socialManu {
  margin-top: 80px;
  /* display: inline-block; */
}

.socialManu ul {
  text-align: center;
  /* display: inline-block; */
}

.socialManu ul li {
  display: inline-block;
  background: rgb(206, 24, 124);
  margin-left: -4px;
}

.socialManu ul li a {
  color: white;
  font-size: 34px;
  /* padding: 10px; */
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  display: inline-block;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}
